h2{
    font-size: 56px;
}

h3{
    font-size: 46px;
}
h4{
    font-size: 36px;
    font-weight: 600;
}
nav ul h4{
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 45px;
}

.headingTitle{
    font-family: 'Cinzel', serif;
}
.gallery .text{
    font-family: 'Cinzel', serif;
    color:#AA4465;
    font-size: 96px;
}

.main span{
    font-size: 160px;
    line-height: 140px;
}
.main{
    color: #EBEBD3;
}
.main button{
    color: #AA4465;
    font-family: 'Cinzel', serif;
}



.landing{
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #8F5C38;
}

nav{
    color: #AA4465;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    background-color: #F0DFAD;
    border-bottom: 3px solid #AA4465;
    -webkit-transition: .4s;
    transition: .4s;
    position: relative;
    z-index: 2;
}



nav ul{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color:#AA4465;
}
nav ul li a:hover { text-decoration: none; color:#AA4465; }
nav ul li a:focus { text-decoration: none; color:#AA4465; }
nav ul li a:active { text-decoration: none; color:#AA4465; }
nav ul li a:visited{ text-decoration: none; color:#AA4465; }

.main{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-transition: .4s;
    transition: .4s;
}



span#egle{
    margin-left: -8rem;
}

.headingTitle{
    margin-top: 50px;
    margin-bottom: 2rem;
}

.main button{
    background-color: #F0DFAD;
    height: 50px;
    font-size: 24px;
    /* font-weight: 600; */
    border-radius: 40px;
    border: 2px solid #AA4465;
    margin-bottom: -30px;
}

footer{
    display: flex;
    background-color: #8F5C38;
    color: #EBEBD3;
    justify-content: space-between;
    padding:25px 13.8vw;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    -webkit-transition: .4s;
    transition: .4s;
}

footer a#back{
    text-decoration: none;
    font-size: 36px;
    line-height: 80px;
    color:#EBEBD3;
}
footer a#back:hover { text-decoration: none; color:#EBEBD3; }
footer a#back:focus { text-decoration: none; color:#EBEBD3; }
footer a#back:active { text-decoration: none; color:#EBEBD3; }
footer a#back:visited{ text-decoration: none; color:#EBEBD3; }

footer .connections{
    margin-top: 50px;
    line-height: 40px;
}

footer .hours{
    margin-top: 50px;
    line-height: 40px;
}
.middle .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .middle .mapouter{
    margin-top: 25px;
}

footer .middle .details{
    margin-top:25px;
    line-height: 30px;
}
footer button{
    color: #AA4465;
    background-color: #F0DFAD;
    font-size: 48px;
    height: 80px;
    border-radius: 55px;
    font-weight: 400;
}

.gallery{
    background-color: #F0DFAD;
    padding-top:5rem;
    display: flex;
    -webkit-transition: .4s;
    transition: .4s;
}

.gallery .text{
    position: absolute;
    right:20vw;
}

.gallery .text #our{
    margin-left: -110px;
}

.galleryhalf{
    width: 50%;
    padding:25px;
}

.firsthalf{
    text-align: right;
}

.secondhalf{
    margin-top: 300px;
}

.gallery img{
    margin-bottom:25px;
    border:3px solid white;
}

.firsthalf img{
    margin-left:25px
}

.secondhalf img{
    margin-right:25px
}

.imgtop{
    vertical-align: top;
}

.gallery img#gap{
    margin-bottom: 100px;
}

.gallery .box{
    display: flex;
    flex-wrap: wrap;
    
}

.gallery .box2{
    margin-top: 200px;
}
.gallery .box3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery .firsthalf .box3{
    display: none;
}
.gallery img#inline{
    display: inline-block;
}

 /* Add a black background color to the top navigation */
 .topnav {
    overflow: hidden;
  }

  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
    
  } 

  /* Responsive nav bar*/
  @media screen and (max-width: 800px) {
    .topnav a {display: none;}
    .topnav li:nth-child(3) a{display: inline;}
    .topnav a.icon {
      
      display: block;
      color:#AA4465;
    }
  }

  @media screen and (min-width: 801px) {
    ul li:nth-child(6) { display: none; }
  }
  
  

  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a {
      display: block;
    }

    nav ul.responsive{
        height:auto;
        display: flex;
        flex-wrap: wrap;
    }

    ul.responsive li{
        margin:1rem;
    }

    ul.responsive :nth-child(1) { order: 2; }
    ul.responsive :nth-child(2) { order: 3; }
    ul.responsive :nth-child(3) { order: 0; }
    ul.responsive :nth-child(4) { order: 4; }
    ul.responsive :nth-child(5) { order: 5; }
    ul.responsive :nth-child(6) { order: 1; }

    h4{
        display:inline;
    }
  }



  button a{
    text-decoration: none;color:#AA4465;
}
button a:hover { text-decoration: none; color:#AA4465; }
button a:focus { text-decoration: none; color:#AA4465; }
button a:active { text-decoration: none; color:#AA4465; }
button a:visited{ text-decoration: none; color:#AA4465; }

b{
    font-weight: 800;
}



html {
    scroll-behavior: smooth;
  }



.gallery img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


.gallery img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

img.visible{
    /* ... other CSS properties ... */
    animation: 1s pop-in 1;
  }


@keyframes pop-in {
    from {
        transform: scale(0.8);
    }
  }

nav .hidNav{
    position: absolute;
    top:10vh;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 5vh ;
    gap:10vh;
    background-color: rgba(240, 223, 173,1);
    /* background: linear-gradient(to right, rgba(240, 223, 173,0.5), rgba(240, 223, 173,1) 30%, rgba(240, 223, 173,1) 70%, rgba(240, 223, 173,0.5)); */
    border-top: 1px solid #AA4465;
    display: none;

    transition-duration: 1s;
    transition-timing-function: ease-out;
    z-index: 1;
}

nav .visNav{
    display: flex;
    animation: 1s move-in 1;
}

.inVis{
    display: none;
}

@keyframes move-in{
    from{
        /* margin-top:-50vh; */
        top:-13vh;
        transform: scaleY(0);
    }
}
